option_settings:
  aws:elasticbeanstalk:application:environment:
    NODE_ENV: production
    PORT: 8080
    JWT_SECRET: law-backend-super-secret-jwt-key-change-this-in-production-2024
    JWT_EXPIRES_IN: 24h
    JWT_REFRESH_SECRET: law-backend-refresh-token-secret-key-change-this-too
    JWT_REFRESH_EXPIRES_IN: 7d
    DB_HOST: lexcora.c1yc80s4ipxt.us-east-2.rds.amazonaws.com
    DB_PORT: 3306
    DB_NAME: lexcora
    DB_USER: admin
    DB_PASSWORD: 100200300.Aa
    AWS_ACCESS_KEY_ID: AKIAS4GY53D5CUSO22MU
    AWS_SECRET_ACCESS_KEY: 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
    AWS_REGION: us-east-2
    AWS_S3_BUCKET_NAME: lexcora
    AWS_S3_USE_PUBLIC_URL: false

  aws:elasticbeanstalk:environment:proxy:
    ProxyServer: nginx
